

<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New Post</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePost()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <textarea ng-model="newPost.message"></textarea>
            <button ng-click="post(newPost)" class="button button-full button-positive">
                Post
            </button>
        </div>
    </ion-content>
</ion-modal-view>